body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url('images/blackjack-bg.jpg');
  background-size: auto;
  box-sizing: border-box;
}

#logoContainer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#blackjackLogo {
  width: 500px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.cards {
  display: none;
  border: dotted 2px goldenrod;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 8px;
}

.name {
  font-size: 22px;
  font-weight: 800;
  margin: 10px;
}

.sum {
  font-size: 20px;
  font-weight: 600;
}

button {
  border: 8px double goldenrod;
  width: 150px;
  background-color: white;
  padding: 10px 15px;
  font-size: 20px;
  margin: 10px;
  border-radius: 10px;
  transition: .2s;
}

button:hover {
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.4);
  transform: scale(1.05,1.05);
}

#standButton, #hitButton {
  display: none;
}

#message {
  color: goldenrod;
}

#restartButton {
  margin-top: 20px;
}

